.bodyContainer{
    border-top-right-radius: 30px;
    margin: -40px 0 0 0;
    height: auto;
    .dinamicText div{
        height: 100px;
        margin-top: 250px;
        margin-left: 15px;
        padding-top: 75px;
        z-index: 10;
        color: white;
        font-weight: 500;
    }
    .dinamicTextNombre div{
        height: 100px;
        margin-right: 25px;
        padding-top: 25px;
        z-index: 10;
        color: #024fd0bd;
        font-weight: 700;
    }
    .introduccion{
        color:white;
        text-align: center;
        font-size: 1.2rem;
        p{
            padding:15px;

        }
        span{
            color:#024fd0bd;
            font-weight: 700;
        }

    }

}