.bodyContainer{
    border-top-right-radius: 30px;
    margin: -40px 0 0 0;
    height: auto;
    .dinamicText div{
        height: 100px;
        margin-left: 25px;
        padding-top: 45px;
        z-index: 10;
        color: #024fd0bd;
        font-weight: 700;
    }
    .introduccion{
        color:white;
        text-align: center;
        font-size: 1.2rem;
        p{
            margin-top: 10vh;
            padding:15px;

        }
    }

}