.fotoContainer{
    border-radius: 50%;
    width: 300px;
    height: 290px;
    margin-top: 20px;
    margin-left: calc(100vw - 290px);
    z-index: 10;
    position: absolute;
    img{
        width: 300px;
        height: 290px;
        object-fit: cover;
      /*  border: black 5px solid;   */
        animation: fadeInAnimation1  ease 4s;
        animation-iteration-count: 1;        
    }
    @keyframes fadeInAnimation1 {
        0% {
            opacity: 0;
            transform: scale(0.7);
        }
         100% {
            opacity: 1;
            transform: scale(1);
         }
    }
}
@media (min-width: 650px){
  .fotoContainer{
    margin-left: calc(100vw - 350px);
    img{
      width: 350px;
      height: 350px;
    }
  }
}
@media (min-width: 800px){
  .fotoContainer{
    margin-left: calc(100vw - 375px);
  }
}
@media (min-width: 1000px){
  .fotoContainer{
    margin-left: calc(100vw - 410px);
  }
}
@media (min-width: 1300px){
  .fotoContainer{
    margin-left: calc(100vw - 430px);
  }
}