.navbarContainer{
    height: 30vh;
 /*   background-image: linear-gradient(
                        to bottom,
                        rgb(0, 0, 0),
                        rgba(0, 0, 0, 0.619)
                    ), url("../../public/assets/imagenes/fondo.jpg");
                    */
                    
    color: white;

    .dinamicText div{
        margin-top: 20px;
        margin-left: 15px;
    }
}
@media (min-width: 650px){
    .navbarContainer .dinamicText div{
        margin-left: 10vw;
        font-size: 3.5rem !important;
    }
}
@media (min-width: 800px){
    .navbarContainer .dinamicText div{
        margin-left: 12vw;
        font-size: 4rem !important;
    }
}
@media (min-width: 1000px){
    .navbarContainer .dinamicText div{
        margin-left: 15vw;
        font-size: 5rem !important;
    }
}
@media (min-width: 1300px){
    .navbarContainer .dinamicText div{
        margin-left: 20vw;
        font-size: 6rem !important;
    }
}