*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}
body{
  /*  background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.738),
        rgba(0, 0, 0, 0.351)
    ), url("../public/assets/imagenes/fondo.jpg");
    background-repeat: repeat;
    background-size: cover;
    */
    background-color: black;
}

/* Barra lateral para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(36, 97, 204, 0.362)  rgb(0, 0, 0);
}
/* Barra lateral para  Chrome, Edge, y Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(36, 97, 204, 0.362);
  border-radius: 5px;
  border: 1px solid rgba(3, 93, 249, 0.763);
}