.herramientas{
    color: rgba(2, 79, 208, 0.7411764706); 
    text-align: center;
    margin-top: 100vh;
    .titulo{
        font-size: 1.5rem; 
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    .subtitulo{
        margin-top: 30px;
        margin-bottom: 15px;    
        font-size: 1.4rem; 
        font-weight: 500;
    }
    .toolsContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
            width: 50px;
            color: white;
            margin: 15px;
            filter: drop-shadow(0 0 5px rgba(0, 94, 255, 0.8));
            &:hover{
                transform: scale(1.1);
            }
        }
        margin-bottom: 20vh;
    }
    .contenedorAprendiendo{
        p{
            color: white;
            font-size: 1.2rem;
        }
        p.subtitulo{
            margin-top: 50px;
            font-size: 1.4rem;
        }
        .toolsContainer{
            border: 2px inset rgba(2, 79, 208, 0.7411764706);
            border-radius: 10px;
            width: 90%;
            max-width: 500px;
            margin: auto;
            margin-top: 30px;
            img{
                width: 70px;
                filter: drop-shadow(0 0 0 black);

            }
        }
        .softSkills{
            margin-top: 25px;
        }
        .softContainer{
            p{
                border-radius: 5px;
                border: 2px inset rgba(2, 79, 208, 0.7411764706);
                margin: auto;
                margin-top: 15px;
                padding: 3px;
                width: 90%;
                max-width: 500px;
            }
        }          
    }
}

@media (min-width:500px){
    .herramientas{
        .toolsContainer{
            margin: auto;
        }
    }
}

@media (min-width: 650px){
    .herramientas{
        .titulo{
            font-size: 2.2rem;
        }
        .toolsContainer{
            width: 85%;
            img{
                width: 80px;
                
            }
        }
        .contenedorAprendiendo{
            p.subtitulo{
                font-size: 1.8rem;
                max-width: 750px;
                margin: auto;
                margin-top: 60px;
                margin-bottom: 30px;
                
            }
            p{
                font-size: 1.3rem;
                max-width: 700px;
                margin: auto;
            }
            div{
                display: flex;
                justify-content: space-around;
                .softContainer{
                    width: 50%;
                }
                .toolsContainer{
                    width: 40%;
                }
            }
            
                
            
        }

    }
}

@media (min-width: 800px){
    .herramientas{
        .toolsContainer{
            width: 80%;
            img{
                width: 90px;
            }
        }
        .contenedorAprendiendo{
            .toolsContainer{

                max-width: 500px;
            }
        }
    }

}

@media (min-width: 1000px){
    .herramientas{
        .toolsContainer{
            width: 75%;
            img{
                width: 100px;
                margin:20px;
            }
        }
    }

}

@media (min-width: 1300px){
    .herramientas{
        .titulo{
            font-size: 2.5rem;
        }
        .toolsContainer{
            img{
                width: 110px;
                margin:30px;
            }
        }
    }

}