.herramientas{
    color: rgba(2, 79, 208, 0.7411764706); 
    text-align: center;
    margin-top: 40vh;
    .titulo{
        font-size: 1.5rem; 
        font-weight: 500;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    .subtitulo{
        margin-top: 30px;
        margin-bottom: 15px;    
        font-size: 1.4rem; 
        font-weight: 500;
    }
    .toolsContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        img{
            width: 50px;
            color: white;
            margin: 15px;
            filter: drop-shadow(0 0 5px rgba(0, 94, 255, 0.8));
            &:hover{
                transform: scale(1.1);
            }
        }
        margin-bottom: 20vh;
    }
    .contenedorAprendiendo{
        p{
            color: white;
            font-size: 1.2rem;
        }
        p.subtitulo{
            font-size: 1.4rem;
        }
        .toolsContainer{
            border: 2px inset rgba(2, 79, 208, 0.7411764706);
            border-radius: 10px;
            width: 90%;
            margin: auto;
            margin-top: 30px;
            img{
                width: 70px;
                filter: drop-shadow(0 0 0 black);

            }
        }
        .softSkills{
            margin-top: 40px;
        }
        .softContainer{
            p{
                border-radius: 5px;
                border: 2px inset rgba(2, 79, 208, 0.7411764706);
                margin: 15px;
                padding: 3px;
                width: 90%;
            }
        }          
    }
}